.navigation {
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 1.25rem;
  padding: 0.2rem;
  border-bottom: 3px solid #ffffff;
}

.nav-link:hover {
  border-bottom-color: #ff6565;
}

.nav-link:active {
  border-bottom-color: #ff0000;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}

.span {
  color: red;
}

.cart-icon {
  width: 30px;
  height: 30px;
}

.cart {
  composes: cart-icon;
  display: block;
  box-sizing: content-box;

  position: relative;

  text-decoration: none;
  border-radius: 50%;
  padding: 0.2rem;
}

.cart:hover {
  background-color: #eeeeee;
}

.cart-size {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 0.75rem;

  position: absolute;
  top: 0;
  right: 0;

  border-radius: 50%;
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}
